
@{
    ViewBag.Title = "Etusivu";
}

<h1>KYSYMYKSIÄ</h1>
<p>Tietokilpailu eli visailu tai visa on viihdetarkoituksessa järjestetty kilpailu, jossa osanottajat vastaavat erilaista tietämystä vaativiin kysymyksiin.[1]
    <br />
    <br/>
Tietokilpailu on luonteeltaan eräänlainen peli. Pelaajat voivat pelata yksilöinä tai usean pelaajan joukkueina. Voittaja on yleensä se, joka kerää kilpailun aikana eniten pisteitä oikeista vastauksista.

Tietokilpailussa on järjestetty maailman- ja Euroopan-mestaruuskilpailuja vuodesta 2004 (kokeiluluonteisesti jo vuonna 2003) sekä Pohjoismaiden- ja Suomen-mestaruuskilpailuja vuodesta 2008.

Tietokilpailut ovat yleinen radio- ja televisioviihdeohjelmamuoto. Suomen ensimmäinen radiotietokilpailu oli Herra X, jota Yleisradio tuotti vuosina 1941–1956. Radiosta tietokilpailut siirtyivät myöhemmin myös televisioon. Tunnettuja Suomen televisiossa esitettyjä tietokilpailuja ovat muun muassa Tupla tai kuitti, Thilia Thalia, Heikoin lenkki, Kolmosvisa, Haluatko miljonääriksi? ja Megavisa.

Tietovisat ovat myös sanoma- ja aikakauslehtien vakioaineistoa, jolloin lukijat voivat kilpailla pienissä ryhmissä tai koetella yksin omaa tietämystään. Näissä kilpailuissa ei yleensä jaeta palkintoja, ja vastaukset on kerrottu samassa lehden numeroissa. Tietokilpailuiksi voi laskea myös Trivial Pursuitin kaltaiset seurapelit ja Pakko tietää -kirjasarjan kaltaiset tietokilpailuformaatit. Tietokilpailukirjoja, tietokone-ohjelmia sekä verkossa olevia tietokilpailuja julkaistaan myös.

Tietokilpailuja pidetään säännöllisesti myös ravintoloissa (pubivisat). Visailu on usein myös erilaisten työpaikka- tai perhejuhlien vakio-ohjelmaa.
    <br />
    <br />

    Ajastin on kellolaite, -ohjelma tai muu mekanismi, jonka avulla tietyn toiminnan tai tapahtuman käynnistymis- ja päättymisaikoja voidaan säädellä. Ajastin eroaa aikaa näyttävästä kellosta siinä, että sen pääasiallinen tarkoitus ei ole näyttää aikaa vaan välittää tieto määräajan saavuttamisesta tai aiheuttaa jokin tapahtuma tietyllä hetkellä tai tietyn ajan kuluttua.
    Tyypillinen mekaaninen ajastin on esimerkiksi keittokello eli munakello. Sytytyslanka on kemiallinen ajastin. Kemiallinen ajastin voi perustua myös esimerkiksi happoon, joka tietyn ajan kuluessa syövyttää ajastettavaa laitetta lukitsevan varmistimen. Ohjelmallinen ajastin on looginen rakenne, joka viivyttää ohjelman etenemistä, kunnes haluttu määrä toistoja on suoritettu tai muu jatkoehto täyttyy.
</p>
<p>
    <a href="/home/kysymykset" class="btn btn-success">ALOITA</a>
</p>

